---
permalink: /
title: Site scaffold site using the California Design System
description: This system makes it easy to build digital services that meet the needs of Californians.
layout: landing.njk
---


<h1>This is the homepage</h1>
